header {
    background-color: #fffffe;
    font-family: Helvetica, sans-serif;
}

footer {
    background-color: #5f6c7b;
    font-family: Helvetica, sans-serif;
    color: #fffffe
}

section {
    background-color: #fffffe;
}

main {
    background-color: #fffffe;
}

nav {
    background-color: #5f6c7b;
    color: #fffffe
}

h1 {
    font-family: Helvetica, sans-serif;
    font-weight: 700;
    color: #094067;
}

h2, h3, h4, h5, h6 {
    font-family: Helvetica, sans-serif;
    font-weight: 600;
    color: #094067;
}

p {
    font-family: Helvetica, sans-serif;
    font-weight: 400;
    color: #5f6c7b;
}

a:link {
    color: white;
}

a:visited {
    color: antiquewhite;
}

a:hover {
    color: floralwhite;
}

a:active {
    color: navajowhite;
}

.blue-bg-color {
    background-color: #094067;
}

.offwhite-bg-color {
    background-color:  #fffffe;
}

.blue-color {
    color: #094067;
}

.offwhite-color {
    color: #fffffe;
}

.gray-bg-color {
    background-color: #5f6c7b;
}

.gray-color {
    color: #5f6c7b;
}

.list-style {
    font-family: Helvetica, sans-serif;
    font-weight: 400;
    color: #5f6c7b;
}

form {
    width: 65%;
    margin: 0 auto;
}

table {
    border-collapse: collapse;
    width: 50%;
}

table caption {
    font-family: Helvetica, sans-serif;
    font-weight: 800;
    font-size: 1.5rem;
}

th, td {
    font-family: Helvetica, sans-serif;
    text-align: left;
    padding: 8px;
}

tr {
    border-bottom: thin solid black;
}

thead tr {
    background-color: #094067;
    color: cornsilk;
}

tbody tr:hover {
    background-color: lightgreen;
}

figcaption {
    font-family: Helvetica, sans-serif;
    font-weight: 400;
    color: #5f6c7b;
}